# Byte-compiled / optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# PyPi packaging files
build/
dist/
eggs/
.eggs/
develop-eggs/
*.egg-info/
*.egg

# Unit tests / Coverage reports / CI cache
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
*.cover
.cache

# Virtual Envornments
.venv
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints

# Editor project settings
## VSCode
.vscode/
## PyCharm intellij
.idea/
## repl.it
.replit
## Spyder
.spyproject/
.spyderproject/

# Custom attributes for folders on Mac OS
.DS_Store

# Backup files
*.bak

# Personal TODO files
TODO
